body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.background-container {
    width: 100%;
    height: 100vh;
    background-image: url('images/black-calculator-pen-dark.jpg'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

.logo-container {
    flex: 1;
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 8px; /* Optional: If you want rounded corners */
}

.logo-container p {
    font-size: 1.2rem;
    color: #333;
}

.form-container {
    flex: 1;
    max-width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.avatar-logo {
    text-align: center;
    margin-bottom: 20px;
}

.avatar-logo img {
    width: 150px;  /* Adjust the size of the avatar */
    height: 150px;
    
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #252525;
}

p {
    text-align: center;
}

a {
    color: black;
    text-decoration-color: black;
}

a:hover {
    color: black;
}
